// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #3E5773;
$black:                 #000000;
$blue:                  #3E5773;
$orange:                #E26932;
$white:                 #ffffff;
$grey:                  #b5b5b5;


// Font Sizes
$nav-menu-item:         20px;
$paragraph-title:       25px;
